.app-shell {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.layout {
    display: flex;
    flex: 1;
    min-height: 0;
    /* important, altfel conținutul din interior poate depăși înălțimea */
}

.content {
    flex: 1;
    background: #FFF;
    padding: 24px;
    overflow-y: auto;
}