<aside class="sidebar">
    <button class="compose-btn" (click)="composeService.open()">
        <i class="fa-solid fa-pen-to-square"></i>
        Scrie email
    </button>

    <button class="section-label" (click)="toggleFolders()">
        <span>Foldere</span>
        <i class="fa-solid fa-chevron-down chevron" [class.rotated]="foldersExpanded()"></i>
    </button>


    <div class="dropdown-container" [class.open]="foldersExpanded()">

        @for (folder of folders; track folder.id) {

        <button class="folder-item" [class.active]="activeFolder() === folder.id" (click)="selectFolder(folder.id)">
            <i class="icon" [class]="folder.icon"></i>
            <span class="label">{{ folder.label }}</span>
            @if (folder.count) {
            <span class="badge">{{ folder.count }}</span>
            }

        </button>
        }
    </div>
</aside>